/*!
 *  
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 900;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}
p {
	margin: 10px 0;
}
.topnav {
  margin: 5px 20px 0 0;
  padding: 0;
}

.topnav > li {
    display: inline-block;
    list-style-type: none;
}
.topnav a {
    color:#ffffff;
}
.navbar-brand {
	height: 75px;
	padding: 13px 15px;
}
nav.navbar {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 0;
	margin-left: 6%;
	min-height: 75px;
	border: none;
	margin-bottom: 0; 
}
.logo {
  display: block;
  height: 50px;
}
.navbar-nav > li > a {
	color: #908e8e;
	padding-bottom: 25px;
	padding-top: 25px;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 12px;
	text-transform: uppercase;
	padding: 25px 10px;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
  text-decoration: none;
  border-bottom: 5px solid #df2025;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 0px 8px;
	margin-top: 11px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border-radius: 4px;
	font-size: 38px;
	color: gray;
}
.top_image {
	background: url('../images/bg-1.jpg');
	display: table;
	width: 100%;
	height: calc( 100% - 75px );
	background-size: cover;
	position: relative;
	padding: 80px 0;
}
.middle_image{
	background: url('../images/bg-2.jpg');
	display: table;
	width: 100%;
	height: auto;
	background-size: cover;
	position: relative;
	padding: 80px 0;
}
.bottom_image{
	background: url('../images/20180529_144217.jpg');
	display: table;
	width: 100%;
	height: auto;
	background-size: cover;
	position: relative;
	padding: 80px 0;
}
.border-box.right-border-box {
	border-width: 2px 0 2px 2px;
	margin: 45px 0 45px 30px;
}
.border-box {
	border: 2px solid;
	border-left-width: 0;
	margin: 45px 30px 45px 0;
	padding: 10px 60px 45px 40px;
}
.border-box h2 {
	border-bottom: 2px solid;
	padding-bottom: 50px;
	margin-bottom: 40px;
}
.border-box p {
	margin: 10px 24% 0 0;
	text-transform: uppercase;
}
.button-section {
	text-align: center;
}
.btn.btn-home.learn_button {
	margin: 150px auto;
}
.btn.btn-watch {
	background: url('../images/btn-play.png');
	margin: 150px auto;
	color: #fff;
	display: block;
	width: 170px;
	height: 210px;
	background-size: 170px;
	background-repeat: no-repeat;
	padding: 180px 0 0 0;
	font-size: 18px;
    font-weight: 900;
}
.quick_links {
	position: absolute;
	top: 16%;
}
.quick_links h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 10pt;
}
.quick_links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.quick_links li {
	background: #fff;
	border-right: 10px solid #d14a58;
	margin: 8px 0;
	text-align: center;
	width: 100px;
	transition: all .4s;
}
.quick_links li:hover{
	width: 120px;
}
.quick_links a {
	color: #737070;
	display: block;
	padding: 18px 15px;
	text-transform: uppercase;
}
.page_content {
	color: #fff;
	height: 100%;
}
section h2 {
	text-transform: uppercase;
}
.btn.btn-home {
	color: #fff;
	border: 2px solid;
	border-radius: 0;
	padding: 10px 50px;
	font-weight: 900;
	font-style: normal;
	background: transparent;
	font-size: 14pt;
}
.arrow_next {
	display: block;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.arrow_next a {
	background: url('../images/arrow-yellow.png');
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: 50px;
	background-repeat: no-repeat;
}
.regmodel .modal-content {
	border-radius: 0;
}
.regmodel p {
	font-weight: 100;
	font-weight: 100;
	font-size: 16px;
}
.small_logo {
	height: 40px;
	margin-bottom: 20px;
	display: block;
	margin: 0 auto;
}
.regmodel hr {
	border-top: 1px solid #acacac;
	margin: 30px 25px;
}
.modelbgwrap {
	background: url('../images/home-popup-bg.jpg');
	background-size: cover;
	float: left;
	width: 100%;
	height: 100%;
}
.regmodel .modal-body {
	padding: 0;
}
.regmodel form {
	margin: 0 30px;
	text-align: center;
}
.regmodel .form-control {
	border-radius: 0;
	padding: 18px 10px;
	font-size: 18px;
	font-weight: 100;
}
.homesignup {
	margin-right: 10%;
	text-align: center;
}
.homesignup .form-control {
	border-radius: 0;
	padding: 18px 10px;
	font-size: 18px;
	font-weight: 100;
}
.innersignup {
	text-align: center;
	margin-top: 190px;
	background: #b01016;
	color: #fdfcfc;
	padding: 10px;
	margin-bottom: 50px;
}
.innersignup h3 {
	padding: 10px 0;
}
.innersignup .form-control {
	border-radius: 0;
	padding: 18px 10px;
	font-size: 18px;
	font-weight: 100;
}
.innersignup .form-group {
	margin: 30px 20px;
}
.innersignup  .btn.btn-sub {
	 
}
.btn.btn-sub {
	background: #790000;
	color: #fff;
	font-size: 18pt;
	padding: 6px 50px;
	border-radius: 0;
}
.form-group {
	margin-bottom: 30px;
}
.bottom-links a {
	color: #fff;
	text-decoration: underline;
	font-size: 14px;
}
.regmodel .close {
	position: absolute;
	right: -20px;
	top: -20px;
	z-index: 99;
	font-weight: lighter;
	background: #fff;
	opacity: 1;
	padding: 10px;
	border-radius: 25px;
	width: 40px;
	height: 40px;
	text-align: center;
}
.leftwrap {
	margin: 50px 12px;
}
.modelhead {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	color: #fff;
	font-size: 26pt;
}
.inner .page_content {
	color: #777676;
}
.page_title {
	color: #cc3838;
	margin: 30px 0 50px 0;
}
.inner .quick_links {
	position: relative;
	margin-top: 120px;
}
header {
	box-shadow: 2px 4px 6px #777676;
}
.inner p{
	font-weight:100
}
/* Responsive Styles */
 
@media(max-width:920px) {
    nav.navbar {
		margin-left: 0;
	}
	.navbar-nav > li > a {
		padding: 25px 3px;
		font-size: 12px;
	}
	.navbar-right {
	 
		margin-right: 0;
	}
	
	.navbar-brand {
		padding: 18px 15px;
	}
	.logo {
		height: 40px;
	}
}
 
@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
	.inner .quick_links li {
		border: 1px solid;
	}
	.innersignup { 
		margin-top: 50px; 
	}
	.page {
		margin: 0 15px;
	}
    header.carousel .carousel {
        height: 70%;
    }
	.navbar-nav > li > a {
		padding: 8px 20px;
		border-bottom: 2px solid transparent;
		font-size: 13px;
	}
	.navbar-nav > li > a:focus, .navbar-nav > li > a:hover{
		border-bottom: 2px solid #df2025;
	}
	.quick_links {
		position: relative;
		text-align: center;
	}
	.mob_center {
		text-align: center;
	}
	.homesignup {
		margin: 10%;
	}
	.quick_links li {
		border-right: none; 
		width: auto; 
		display: inline-block;
	}
	.quick_links li:hover{
		width: auto; 
	}
	.top_image {
		padding: 80px 45px;
	}
	.quick_links a {
		padding: 10px 9px;
	}
	.border-box { 
		padding: 10px 12px 45px 20px;
	}
	.btn.btn-home.learn_button {
		margin: 70px auto;
	}
	.btn.btn-watch { 
		margin: 60px auto; 
	}
	.navbar-nav > li > a {
		text-align: right;
	}
}
 